{% extends 'base_ass.html' %}
{% load staticfiles %}
{% block left_content %}
    {% include 'assistant_left_m.html' %}
{% endblock %}
{% block right_content %}
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>选择产品</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <div class="container-fluid">
    <div class="row">
		    <div class="col-md-12">
            <form>
                <div class="form-group">
                <ol class="am-breadcrumb">
                <li class="am-icon-home">管理中心</li>
                 <li class="am-active"><a href="{%url 'check_m_stafftask'  %}">个人任务</a></li>
                    <li class="am-active">产品列表</li>
            </ol>
            </div>
            <div class="form-group" >
                <form action="{% url 'check_m_stafftask_product' %}">
                    <div style="margin-left: 10px" >
                        <li >任务编号：{{ task.no }}</li>
                    </div>
                </form>
                 <form method="post">
                    <div>
                    <table class="table table-bordered">
                        <thead>
					<tr>
						<th>产品编号</th>
						<th>产品名称</th>
						<th>所属分类</th>
						<th>所属公司</th>
                        <th>操作</th>
					</tr>
				</thead>
				<tbody>
					{% for product in list %}
                    <tr>
                        <td class="td">{{ product.no }}</td>
                        <td class="td">{{ product.name }}</td>
                        <td class="td">{{ product.category }}</td>
                        <td class="td">{{ product.company}}</td>
                        <td class="td"><a href="{% url 'check_m_product_file' %}?id={{ product.id}}"><span class="glyphicon glyphicon-zoom-in"></span>查看进度</a>
                          </td>
                     </tr>
                {% endfor %}
				</tbody>
                    </table>
                </div>
            </form>
            </div>
            </form>
            </div>
	</div>
    </div>
     <script src="{%static 'js/jquery.min.js'%} "></script>
     <script src="{%static 'js/bootstrap.min.js'%} "></script>
     <script src="{%static 'js/scripts.js'%} "></script>
    {% include 'pagination_product.html' %}
{% endblock %}