<div class="panel panel-default" STYLE="margin-top: 60px">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-fire"></span> 管理中心 </h1>
				</div>
				<div class="list-group">
                    <a href="{% url 'directorTeam' %}" class="list-group-item">组织概况 </a>
					<a href="{% url 'groupTask' %}" class="list-group-item">任务再分</a>
					<a href="{% url 'groupTaskList' %}" class="list-group-item">任务分配</a>
                    <a href="{% url 'check_staffTask' %}" class="list-group-item">任务审核</a>
				</div>
</div>

